@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 p-2">
        <div class="card text-center">
            <div class="card-header">
                <p><h3>Consumindo as API´S <strong>Categorias</strong> e <strong>Produtos</strong></h3></p>
            </div>
            <div class="card-body text-left">
                <h4><i class="fa fa-cog fa-spin"></i> Camada Data</h4>
                <p>ORM Entity Framework Core - Provider Pomelo MySQL -  Fluent API - Mappings - Migrations - Repository</p>
                <h4><i class="fa fa-cog fa-spin"></i> Camada Domain</h4>
                <p>MediatR, FluentValidation - CQRS e Validaçãoes</p>
                <h4><i class="fa fa-cog fa-spin"></i> Camada Application</h4>
                <p>Refit, AutoMapper - Integrações com API´s, Mapeamanto entre objetos</p>
                <h4><i class="fa fa-cog fa-spin"></i> Camada CrossCutting</h4>
                <p>Configuração para Injeção de Dependência</p>
                <h4><i class="fa fa-cog fa-spin"></i> Web API</h4>
                <p>Documentação básica com Swegger, ApiVersion (Controle de Versão da API)</p>
                <h4><i class="fa fa-cog fa-spin"></i> Client</h4>
                <p>Refit, HTML5, Javascript, CSS, LibMan, Bootstrap, Datatables, Font Awesome, ViewComponent</p>
            </div>
        </div>
    </div>
</div>
