@model Empresa.VendasWebApp.ViewModels.CategoriaIdViewModel

@{
    ViewData["Title"] = "Excluir Categoria";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 p25">
        <div class="card">
            <div class="card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                </dl>

                <form id="formulario" asp-action="Delete">
                    <input asp-for="Id" hidden />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit"
                        class="btn btn-outline-dark mr-0 mb-0"
                        title="Salvar"
                        data-toggle="modal"
                        data-target="#minhaModal">
                    &nbsp;<i class="fa-solid fa-trash-can"></i> Excluir&nbsp;&nbsp;
                </button>
                @await Html.PartialAsync("PartialViews/_ReturnButtonPartial")
            </div>
        </div>
    </div>
</div>

<vc:buttonscrud title="@ViewData["Title"]"></vc:buttonscrud>
