@model Empresa.VendasWebApp.ViewModels.CategoriaIdViewModel

@{
    ViewData["Title"] = "Categoria";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 p25">
        <div class="card">
            <div class="card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                </dl>
            </div>
            <div class="card-footer bg-transparent">
                <a asp-action="Edit" asp-route-id="@Model.Id" onclick="MsgAguarde();" class="btn btn-outline-dark">
                    &nbsp;<i class="fa-solid fa-pen-to-square"></i> Alterar&nbsp;
                </a>
                @await Html.PartialAsync("PartialViews/_ReturnButtonPartial")
            </div>
        </div>
    </div>
</div>
